body {
    font-family: 'HelveticaNeue';
}

.red {
    color: red;
}

.green {
    color: #b5bd4b;
}

.number {
    font-weight: 900;
    font-size: 120%;
}

#reason {
    color: #b5bd4b;
    font-family: 'Agency FB Bold';
    font-size: 140%;
    margin: 10px 0;
}

#item {
    color: #005ea1;
}

#sku {
    font-family: 'HelveticaNeueThin', monospace;
    margin: 0;
    font-size: 80%;
}

#page-header {
    border-bottom: 1px solid lightgrey;
    padding: 5px;
}

#changes-header {
    color: #005ea1;
    border-bottom: 1px solid #d2d5db;
    font-family: 'Agency FB Bold';
    margin-bottom: 0;
}

.change-row {
    position: relative;
    margin-left: 10px;
    padding-right: 190px;
    border-bottom: 1px solid #e5e7ea;
}

.quantity-change {
    margin: 0;
    position: absolute;
    right: 10px;
    top: 0px;
}