@font-face {
    font-family: 'HelveticaNeueThin';
    src: url('{{ BUCKET_NAME }}fonts/HelveticaNeue-ThinCond.woff') format('woff');
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('{{ BUCKET_NAME }}fonts/HelveticaNeue-Condensed.woff') format('woff');
}

@font-face {
    font-family: 'HelveticaNeueLight';
    src: url('{{ BUCKET_NAME }}fonts/helvetica-47-light-condensed-587ebd7b5a6f6.woff') format('woff');
}

#sidebar {
    background-color: white;
    position: absolute;
    width: 15em;
    height: 100%;
    padding-right: 1em;
}

#sidebar-box {
    background-color: #d2d5db;
    height: 100%;
    padding: 0 1em;
    margin: 1em 0;
}

#sidebar-box h3 {
    font-family: 'Agency FB Bold';
    color: #005ea1;
    padding: .7em 0;
    margin: 0;
}

.sidebar-button {
    background-color: #e5e7ea;
    border: none;
    border-left: 3px solid #b5bd4b;
    font-family: HelveticaNeue, Arial;
    height: 2.5em;
    margin: .2em auto;
    text-decoration: none;
    font-size: 1em;
    width: 100%;
    text-align: left;
    padding: 0 1em;
}

.sidebar-button:hover {
    background-color: #b5bd4b;
    color: white;
}

#sidebar ul {
    list-style-type: none;
    padding-left: -3em;
    margin: 0;
    padding: 0em 0;
}

#sidebar ul li {
    padding: 0em;
}

#main {
    background-color: white;
    padding-left: 17em;
    padding-right: 300px;
}

#main h1 {
    color: #005ea1;
    font-family: 'Agency FB Bold';
}

#main h3 {
    font-family: HelveticaNeueLight, Arial;
    color: #b5bd4b;
}

#main img {
    max-width: 100%;
    box-shadow: 0 0 10px gray;
}

p {
    font-family: HelveticaNeueLight, Arial;
    font-size: 1.1em;
    line-height: 120%;
}

#search-bar {
    padding-left: 16em;
    display: flex;
    padding-right: 300px;
}

#search-bar input {
    flex: 2 auto;
    font-size: 1em;
    padding: 10px;
    margin: 5px;
    border: 1px solid #d2d5db;
    box-shadow: 0 0 3px #d2d5db;
    font-family: HelveticaNeue, Arial;
}
.block-button {
    border: none;
    font-size: 1em;
    font-family: 'Agency FB Bold', arial;
    letter-spacing: 0.1em;
    padding: 15px;
    background-color: #005ea1;
    color: white;
    margin: 5px 0px;
    -webkit-clip-path: polygon(calc(0% + 10px) 0, 100% 0, 100% 100%, 0 100%, 0 calc(0% + 10px));
    clip-path: polygon(calc(0% + 10px) 0, 100% 0, 100% 100%, 0 100%, 0 calc(0% + 10px));
}

.block-button:hover {
    background-color: #b5bd4b;
}

a {
    text-decoration: none;
}

#sidebar-logo {
    max-width: 100%;
    background-color: white;
}

#picklist-frame {
    box-sizing: border-box;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    box-shadow: 0 0 20px lightgray;
    padding: 10px;
}

#background-cover {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(179, 179, 179, 0.466);
    z-index: 2;
}

#username {
    font-size: 80%;
}

#logout-button {
    border: none;
    color: #005ea1;
    background-color: #d2d5db;
    margin: 0;
    padding: 0;
    font-size: 90%;
}

#logout-button:hover {
    text-decoration: underline;
}

#logout-button:active {
    color: purple;
}

.fa-sign-out-alt {
    color: #005ea1;
}