@font-face {
    font-family: 'HelveticaNeueThin';
    src: url('../fonts/HelveticaNeue-ThinCond.woff') format('woff');
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeue-Condensed.woff') format('woff');
}

@font-face {
    font-family: 'HelveticaNeueLight';
    src: url('../fonts/helvetica-47-light-condensed-587ebd7b5a6f6.woff') format('woff');
}

body {
    font-family: 'Agency FB', arial;
}

#sidebar {
    background-color: white;
    position: absolute;
    width: 15em;
    height: 100%;
    border-right: 1px solid #d2d5db;
    padding-right: 1em;
}

#sidebar ul {
    list-style-type: none;
    padding-left: -3em;
    margin: 0;
    padding: 1.5em 0;
}

#sidebar ul li {
    padding: 0em;
}

#sidebar ul li button{
    text-decoration: none;
    font-size: 1.3em;
    width: 100%;
}

#main {
    background-color: white;
    padding-left: 17em;
}

p {
    font-family: HelveticaNeueLight, monospace;
    font-size: 1.1em;
}

#search-bar {
    padding-left: 16em;
    display: flex;
}

#search-bar input {
    flex: 2 auto;
    font-size: 1em;
    padding: 10px;
    margin: 5px;
    border: 1px solid #d2d5db;
    box-shadow: 0 0 3px #d2d5db;
    font-family: Helvetica, Arial;
}
.block-button {
    border: none;
    font-size: 1em;
    font-family: 'Agency FB Bold', arial;
    letter-spacing: 0.1em;
    padding: 15px;
    background-color: #005ea1;
    color: white;
    margin: 5px 0px;
    -webkit-clip-path: polygon(calc(0% + 10px) 0, 100% 0, 100% 100%, 0 100%, 0 calc(0% + 10px));
    clip-path: polygon(calc(0% + 10px) 0, 100% 0, 100% 100%, 0 100%, 0 calc(0% + 10px));
}

.block-button:hover {
    background-color: #b5bd4b;
}

#sidebar-logo {
    max-width: 100%;
    background-color: white;
}
