.basic-table-header {
    border-bottom: 1px solid #e5e7ea
}

a:visited {
    text-decoration: none;
}

a {
    color: inherit;
    text-decoration: none;
}

a:any-link {
    text-decoration: none;
}

.basic-table-cell {
    border-bottom: 1px solid #e5e7ea;
    padding: 0 1em;
}

.basic-table-cell:hover {
    box-shadow: 0px 0px 5px lightgray;
    
}

.basic-table-cell h4 {
    font-family: 'HelveticaNeue', monospace;
    color: black;
    font-size: 1em;
    display: inline-block;
}

.basic-table-cell p {
    font-family: 'HelveticaNeueLight', sans-serif;
    display: inline-block;
    float: right;
    color: black;
    line-height: 25px;
}

.basic-table-cell:hover h4 {
    color: #b5bd4b;
}

#page-controls { 
    text-align: center;
}

#page-number {
    display: inline-block;
    font-size: 1em;
    padding: 10px;
    margin: 5px;
    border: 1px solid #d2d5db;
    box-shadow: 0 0 3px #d2d5db;
    font-family: HelveticaNeue, Arial;
    width: 2em;
}

#total-pages {
    display: inline-block;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#page-controls button {
    border: none;
    font-family: 'HelveticaNeue';
    color: #005ea1;
    font-size: 120%;
    background-color: white;
}

#page-controls button:hover {
    color: #b5bd4b;
}