.block-button-destructive {
    border: none;
    font-size: 1em;
    font-family: 'Agency FB Bold', arial;
    letter-spacing: 0.1em;
    padding: 15px;
    background-color: black;
    color: white;
    margin: 5px 0px;
    -webkit-clip-path: polygon(calc(0% + 10px) 0, 100% 0, 100% 100%, 0 100%, 0 calc(0% + 10px));
    clip-path: polygon(calc(0% + 10px) 0, 100% 0, 100% 100%, 0 100%, 0 calc(0% + 10px));
}

.block-button-destructive:hover {
    background-color: red;
}

.picklist-row {
    border-top: 1px solid lightgray;
}

#main .picklist-row h3 {
    display: inline-block;
    color: black;
}

.picklist-row p {
    display: inline-block;
    position: absolute;
    right: 475px;
}

.picklist-row .block-button {
    float: right;
    margin: 7px 5px;
    font-size: 80%;
    padding: 10px;
}

.picklist-row .delete-button {
    background-color: black;
}

.picklist-row .delete-button:hover {
    background-color: red;
}

#confirmation-alert {
    display: none;
    position: fixed;
    top: 30%;
    left: 40%;
    z-index: 3;
    background-color: white;
    box-shadow: 0 0 10px lightgray;
    text-align: center;
    padding: 10px;
}

#confirmation-alert h1 {
    margin-top: 0px;
}

#confirmation-confirm {
    background-color: black;
}

#confirmation-confirm:hover{
    background-color: red;
}