#Ignore Mac system files
.DS_Store

#Ignore virtual environment
venv

#Ignore cache files
__pycache__

#Ignore database migration files
alembic
alembic.ini

#Ignore vscode
.vscode
jsconfig.json

example_adjust_quantities.json
static/.DS_Store
INVENTORY TRACKER KJP REV 2 - Copy.xlsm
INVENTORY TRACKER KJP REV 2.numbers
INVENTORY TRACKER KJP REV 2.xlsx
