{% extends 'base.html' %}

{% block title %}Adjust {{ item.sku }} Quantity{% endblock %}

{% block main %}
<h1>Adjust Stock for {{ item.part_no.upper() }}</h1>
<div id='stock-in-out-frame'>
    <form id='stock-in-out-form'>
        <label for="employee-id">Employee ID:</label>
        <input type="text" name="employee-id" id="employee-id"><br>
        <label for="employee-password">Password:</label>
        <input type="password" name="employee-password" id="employee-password"><br>
        <label for="reason">Reason for Change:</label>
        <select name="reason" id="reason">
            <option selected value="0">-</option>
            {% for reason in reasons %}
                <option value={{ reason.id }}>{{ reason.name }}</option>
            {% endfor %}
        </select><br>
        <fieldset id='locations-fieldset'>
            <legend>Locations</legend>
            {% for location in item.locations %}
                <label class="location-label" for={{ location.location.id }}>{{ location.location.name.upper() }}</label>
                <input type="number" name={{ location.location.id }} id={{ location.location.id }} value={{ location.quantity }}>
                <br>
            {% endfor %}
        </fieldset>
    </form>
        <label for="add-location-textbox">New Location:</label>
        <input type="text" id="add-location-textbox" pattern="^[0-9]{3}[^0-9]+[0-9]{2,}[^0-9]+$">
        <button id='add-location-button'>Add</button>
        <br>
        <input type="reset" form="stock-in-out-form">
        <button id='submit' form='stock-in-out-form'>Submit</button>
</div>
{% endblock %}

{% block script %}
<script src="../static/scripts/adjust_stock_for_item.js"></script>
{% endblock %}