{% extends 'base.html' %}

{% block title %}{{ page_title }}{% endblock %}

{% block head %}
<link rel="stylesheet" href="../static/stylesheets/basic_table_view.css">
{% endblock %}

{% block main%}
<div class="full-width-table-view">
    <div class="basic-table-header">
        <h1>{{ table_header }}</h1>
    </div>
    {% for row in rows %}
        <a href={{ row.href }}>
            <div class="basic-table-cell" id={{ row.id }}>
                <h4>{{ row.primary_text }}</h4>
                <p>{{ row.secondary_text }}</p>
            </div>
        </a>
    {% endfor %}
    
</div>

{% endblock %}
