{% extends 'base.html' %}

{% block title %}{{ page_title }}{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ env['BUCKET_NAME'] }}static/stylesheets/basic_table_view.css">
{% if current_page %}
<style>
    {% if current_page <= 1 %}
    #prev-page-button {
        visibility: hidden;
    }
    {% endif %}
    {% if current_page > total_pages - 1 %}
    #next-page-button {
        visibility: hidden;
    }
    {% endif %}
</style>
{% endif %}
{% endblock %}

{% block main%}
<div class="full-width-table-view">
    <div class="basic-table-header">
        <h1>{{ table_header }}</h1>
    </div>
    {% for row in rows %}
        <a href={{ row.href }}>
            <div class="basic-table-cell" id={{ row.id }}>
                <h4>{{ row.primary_text }}</h4>
                <p>{{ row.secondary_text }}</p>
            </div>
        </a>
    {% endfor %}
    {% if total_pages %}
    <div id='page-controls'>
        <button id='prev-page-button'>&lt; PREV</button>
        <input type="number" name="page-number" id="page-number" value={{ current_page }} min='1' max={{ total_pages }}>
        <p id='total-pages'>of {{ total_pages }} {% if total_pages == 1 %}page{% else %} pages{% endif %}</p>
        <button id='next-page-button'>NEXT &gt;</button>
    </div>
    {% endif %}
</div>

{% endblock %}

{% block script %}
{% if current_page %}
    <script>var currentPageNumber = {{ current_page - 1}}</script>
{% endif %}
<script src="{{ env['BUCKET_NAME'] }}static/scripts/basic-table-view.js"></script>
{% endblock %}
