{% extends 'base.html' %}

{% block title %}{{ browse_type }}{% endblock %}

{% block head %}
<link rel="stylesheet" href="../static/stylesheets/basic_table_view.css">
{% endblock %}

{% block main%}
<div class="full-width-table-view">
    <div class="basic-table-header">
        <h1>Select {{ browse_type }}</h1>
    </div>
    {% for row in rows %}
        <a href='/placeholder/{{ row['primary-text'] }}'>
            <div class="basic-table-cell" id={{ row['id'] }}>
                <h4>{{ row['primary-text'] }}</h4>
                <p>{{ row['secondary-text'] }}</p>
            </div>
        </a>
    {% endfor %}
    
</div>

{% endblock %}
