{% extends 'base.html' %}

{% block title %}{{ browse_type }}{% endblock %}

{% block head %}
<link rel="stylesheet" href="../static/stylesheets/intermediate_browse_view.css">
{% endblock %}

{% block main%}
<div class="full-width-table-view">
    <div class="basic-table-header">
        <h1>Select {{ browse_type }}</h1>
    </div>
    {% for row in rows %}
        <a href='/placeholder/{{ row['name'] }}'>
            <div class="basic-table-cell">
                <h4>{{ row['name'] }}</h4>
                <p># of items: <b>{{ row['number_of_items'] }}</b></p>
            </div>
        </a>
    {% endfor %}
    
</div>

{% endblock %}
