{% extends 'base.html' %}

{% block title %}{{ item.part_no.upper() }}{% endblock %}

{% block head %}
<link rel="stylesheet" href="../static/stylesheets/item_detail_view.css">
{% endblock %}

{% block main %}
<button id='stock-in-out-button' class='block-button'>Stock In/Out</button>
<h1 id='page-heading'>Item Details</h1>
<div class='category-image-frame'>
    {% if item.category.img_url != None %}
    <img src={{ item.category.img_url }} alt="image for category: {{ item.category.name }}">
    {% endif %}
</div>
<h4 id='manufacturer'>{{ item.manufacturer.title() }}</h4>
<h2 id='part-no'>{{ item.part_no.upper() }}</h2>
<h6 id = 'sku'>SKU: {{ item.sku }}</h6>
<p id='description'>{{ item.description.capitalize() }}</p>
<h2 id='locations-header'>Locations:</h2>
{% for location in item.locations %}
    <div class='location-row'>
        <h4 class='location-name'>{{ location.location.name.upper() }}</h4>
        <p class='location-quantity'>Qty: {{ location.quantity }}</p>
    </div>
{% endfor %}
    <div class='location-row'>
        <h4 class="location-name">Total Quantity: {{ item.total_quantity }}</h4>
    </div>
<div id='stock-in-out-frame'>
    <form id='stock-in-out-form'>
        <label for="employee-id">Employee ID:</label>
        <input type="text" name="employee-id" id="employee-id"><br>
        <label for="employee-password">Password:</label>
        <input type="password" name="employee-password" id="employee-password"><br>
        <label for="reason">Reason for Change:</label>
        <select name="reason" id="reason">
            <option selected value="0">-</option>
            {% for reason in reasons %}
                <option value={{ reason.id }}>{{ reason.name }}</option>
            {% endfor %}
        </select><br>
        <fieldset id='locations-fieldset'>
            <legend>Locations</legend>
            {% for location in item.locations %}
                <label for={{ location.location.id }}>{{ location.location.name.upper() }}</label>
                <input type="number" name={{ location.location.id }} id={{ location.location.id }} value={{ location.quantity }}>
                <br>
            {% endfor %}
        </fieldset>
    </form>
        <label for="add-location-textbox">New Location:</label>
        <input type="text" id="add-location-textbox" pattern="^[0-9]{3}[^0-9]+[0-9]{2,}[^0-9]+$">
        <button id='add-location-button'>Add</button>
        <br>
        <input type="reset" form="stock-in-out-form">
        <button id='submit' form='stock-in-out-form'>Submit</button>
</div>
<div id='background-cover'></div>
{% endblock %}

{% block script %}
    <script src="../static/scripts/item_detail_view.js"></script>
{% endblock %}