<style>
    #center-box {
        position: absolute;
        top: 30%;
        text-align: center;
    }
    #center-box h1 {
        font-family: 'Agency FB', monospace;
        color: #005ea1;
    }

    #center-box h4 {
        font-family: 'HelveticaNeueThin', monospace;
        color: #b5bd4b;
        
    }
</style>
<div id='center-box'>
    <h1>No picklist selected</h1>
    <h4>You can select an existing picklist from the sidebar or create a new one.</h4>
    <button id='create-new-picklist' class='block-button'>Create New Picklist</button>
</div>