{% extends 'base.html' %}

{% block title %}Check In{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ os.environ['BUCKET_NAME'] }}static/stylesheets/picklist_checkin.css">
{% endblock %}

{% block main %}
<h1>Check In: {{ picklist.title.title() }}</h1>
<p>Enter the quantity of each item being returned.</p>
<form method="POST" action="/checkin_picklist">
    <input type="text" name="picklist_id" class="hidden-input" value={{ picklist.id }}>
    {% for picklist_item in picklist.location_items %}
    <div class="checkin-item-row">
        <h3 class="picklist-part-no">{{ picklist_item.location_item.item.part_no.upper() }}</h3>
        <h4 class="picklist-return-location">Return <span>{{ picklist_item.quantity }}</span> to <span>{{ picklist_item.location_item.location.name.upper() }}</span></h4>
        <input type="number" name="returned_qty" class="return-qty-textbox" min="0", max={{ picklist_item.quantity }} value={{ picklist_item.quantity }}>
        <p class="picklist-return-quantity">Qty returned: </p>
        <input type="text" name="picklist_item_id" class="hidden-input" value={{ picklist_item.id }}>
    </div>
    {% endfor %}
    <input type="submit" name="submit" id="submit" class="block-button" value="Finish">
</form>

{% endblock %}