{% extends 'base.html' %}

{% block title %}Current Picklists{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ env['BUCKET_NAME'] }}static/stylesheets/picklist_list.css">
{% endblock %}

{% block main %}
<div id='open-picklists'>
    <h1>Open</h1>
    {% for picklist in open_picklists %}
        <div class='picklist-row' id="{{ picklist.id }}">
            <h3>{{ picklist.title.title() }}</h3>
            <i class="fa fa-trash-o delete-button"></i>
            <button class='block-button view-edit-button'>View/Edit</button>
            <p>{{picklist.number_of_items }} {% if picklist.number_of_items == 1 %}Item{% else %}Items{% endif %}</p>
        </div>
    {% endfor %}
</div>
<div id='checked-out-picklists'>
    <h1>Checked Out</h1>
    {% for picklist in checkout_picklists %}
        <div class='picklist-row' id="{{ picklist.id }}">
            <h3>{{ picklist.title.title() }}</h3>
            <a href="/checkin_picklist?picklist_id={{ picklist.id }}">
                <button class='block-button check-in-button'>Check In</button>
            </a>
            <p>{{picklist.number_of_items }} {% if picklist.number_of_items == 1 %}Item{% else %}Items{% endif %}</p>
        </div>
    {% endfor %}
</div>
<div id='background-cover'></div>
<div id='confirmation-alert'>
    <h1>Are you sure?</h1>
    <p>This action cannot be undone.</p>
    <button class='block-button' id='confirmation-confirm'>Confirm</button>
    <button class='block-button' id='confirmation-cancel'>Cancel</button>
</div>
{% endblock %}

{% block script %}
<script src="{{ env['BUCKET_NAME'] }}static/scripts/picklist_list.js"></script>
{% endblock %}