{% extends 'base.html' %}

{% block title %}Settings{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ os.environ['BUCKET_NAME'] }}static/stylesheets/browse.css">
{% endblock %}

{% block main %}
<h1>Management</h1>
<div class="browse-row">
    <h2>Create New Item</h2>
    <p>Create a new item. After entering item details, you will be able to modify item quantities.</p>
    <a href="{{ url_for('create_new_item') }}">
        <button class="block-button create-item-button">Create Item</button>
    </a>
</div>
<div class="browse-row">
    <h2>Modify Item Details</h2>
    <p>Change the part number, description, or manufacturer for an existing item.</p>
    <label for="modify-entry">Item SKU: </label>
    <input type="text" id='modify-entry' placeholder='ex. "1234"'>
    <button class="block-button" id="modify-submit">GO</button>
</div>
<div class="browse-row">
    <h2>Adjust Stock for Item</h2>
    <p>Manually edit quantity levels in each storage location for an item.</p>
    <label for="adjust-entry">Item SKU: </label>
    <input type="text" id='adjust-entry' placeholder='ex. "1234"'>
    <button class="block-button" id="adjust-submit">GO</button>
</div>
{% endblock %}

{% block script %}
<script src="{{ os.environ['BUCKET_NAME'] }}static/scripts/settings.js"></script>
{% endblock %}